/*This is a CSS style*/
h1 {
    font-size: 30pt;
    color: hsla(210 60% 60%);
}
a {
    color: dodgerblue;
}
h2 {
    color: #ffc03b;
    font-size: 1.5cm;
}
h3 {
    color: rgba(0, 0, 0, 0.3);
    background-color: hsla(120,100%,50%,0.3);
    margin: 5px;
}
body{
    text-align: center;
}
span {
    font-size: 0.5em;
    line-height: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    max-width: 10px;
    min-width: 1px;
    position: relative;
}
div {
    margin:1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border: 5px solid black;
    border-radius: 5px;
    display: inline-block;
    position: static;
}
p {
    color:black;
    text-align: center;
    text-decoration: none;
}
li{
    font-size: 20px;
    display: block;
}
details{
    display: flex;
}
label{
    display: flex;
}
head{
    display: flex;
}
button:hover, #host {
    color: dodgerblue;
}
button:active {
    box-shadow: 2px 2px 5px dodgerblue;
}
.grid-container1{
    display: grid;
    font-size: 3ch; 
    margin: auto;
}
.grid-container2{
    display: grid;
    font-size: 3ch;
    margin: auto;
}
.grid-container3{
    display: grid;
    font-size: 3ch;
    margin:5px;
}
.Intro{
    font-size: 3ch;
}
.Req{
    font-size: 3ch;
}
.Sep{
    font-size: 3ch;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        }
}
.item2{
    font-family: Silkscreen;;
}
*.item3, header > p{
    color:red;
}
textarea[target=text]{
    color: red;
}
img{
    width: 800px;
    height: 450px;
}
